.App {
  text-align: center;
}

@import url("Table.css");
@import url("Gallery.css");
.btn-icon{
  /* margin:.5rem auto; */
  font-size: 20px;
  display: flex;
  color: #fff;
  background-color: #321fdb;
  border-color: #321fdb;
  
}
.btn-icon, button.star, button.edit, button.trash{
  padding: .375rem .375rem;
}
.img-view{
  width: 100%;
}
.check{
  width: 2.5rem;
}
/* @import url("header.css");
@import url("body.css");
@import url("footer.css");
@import url("sliderNav.css"); */
