.gallery{
  width: 100%;
}
.gallery > .card-body > .row > div{
  padding: 0px;
}
.gallery > .card-body > .row > div > button{
  padding: 0;
  margin: 0.75rem;
}
.gallery > .card-body > .row > div > button > img{
  width: 100%;
  object-fit: contain;
}
.gallery > .card-body > .row > div > button.btn-close{
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 2rem;
  padding: 0;
  display: flex;
  color: red;
  background-color: unset;
  border: unset;
}

