.table th,.table td{
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}
.table tbody td{
  font-size: 15px;
}
.table thead .first{
  width: 2.75rem; 
}
.table tbody .first{
  text-align: right;
}
.table tbody td.image{
  width: 20%;
}
.table tbody td img{
  width: 100%;
  height: calc(20vh);
  object-fit: contain
}

.table tbody td.manager{
  width: 10%;
  padding: 0.25rem;
}
.table tbody td button{
  margin:.25rem auto;
  font-size: 20px;
  display: flex;
}
.btn-outline-dark:hover {
  color: #e1d200;
}
.btn-outline-dark:not(:disabled):not(.disabled).active{
  color: #e1d200;
}
.edit.btn-primary{
  color: #ffffff;
  background-color: #ce8f07dc;
  border-color:#ffb10a;
}
.edit.btn-primary:not(:disabled):not(.disabled):hover{
  color: #ffffff;
  background-color: #ce8f07dc;
  border-color:#ffb10a;
}
.trash.btn-primary{
  background-color: #dc3545;
  border-color: #dc3545;
}
.trash.btn-primary:not(:disabled):not(.disabled):hover{
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-outline-dark:not(:disabled):not(.disabled).active{
  color: #e1d200;
}
